<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="logs/nlog-internal.log">

	<targets>
		<target xsi:type="Console" name="console" />

		<target xsi:type="File" name="file"
				fileName="logs/app_${shortdate}.log"
				layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
				archiveEvery="Day"
				maxArchiveFiles="7"
				createDirs="true" />
		<!-- Note: TIDAK ada keepFileOpen / concurrentWrites di NLog 5 -->
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="console,file" />
	</rules>
</nlog>
